.faq {
  margin-bottom: 80px;
}

.faq__title {
  text-align: center;
}

.faq__subtitle {
  margin-bottom: 8px;

  transition: all 0.3s ease-in;
}

.faq__text {
  color: #949494;
}

.faq__item {
  position: relative;

  box-sizing: border-box;
  height: auto;
  min-height: 160px;
  padding: 16px;

  text-decoration: none;

  color: $black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);

  &:hover,
  &:focus {
    .faq__subtitle {
      color: $green;
    }
  }

  .subtitle {
    max-width: 150px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;

    width: 104px;
    height: 162px;

    content: '';

    background: url('../img/delivery.svg') 0 0 no-repeat;
  }

  &:nth-of-type(2n) {
    .subtitle {
      max-width: 100%;
    }

    &::before {
      display: none;
    }
  }
}

.faq__arrow {
  position: absolute;
  z-index: 2;
  top: 50%;

  display: flex;

  width: 44px;
  height: 44px;
  padding: 0;

  cursor: pointer;
  transform: translateY(-50%);

  border: none;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);

  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    svg {
      fill: $green;
    }
  }

  &.hidden {
    display: none;
  }
}

.faq__arrow-left {
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.faq__arrow-right {
  right: 0;
}
