.socials {
  display: grid;

  width: 100%;
  max-width: 996px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding: 42px 40px;

  border-radius: 40px;
  box-shadow: 0 20px 60px 0 rgba(26, 26, 26, 0.05);

  grid-template-columns: 1fr 1fr;
}

.socials__text {
  margin-bottom: 16px;

  font-size: 15px;
  line-height: 18px;
}

.socials__list {
  display: flex;

  padding: 0;
  padding-top: 17px;

  list-style: none;

  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 14px;
}

.socials__link {
  display: flex;

  width: 56px;
  height: 56px;

  transition: all 0.3s ease-in;

  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  svg {
    fill: $green;
  }
}

@media(max-width:900px) {
  .socials {
    padding: 20px;

    grid-template-columns: 1fr;
  }

  .socials__list {
    display: grid;

    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
