$white: #ffffff;
$black: rgba(26, 26, 26, 1);
$green: rgba(54, 186, 95, 1);
$museo: 'MuseoSans',
'Arial',
sans-serif;
$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
